/* ..................1st section */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin: 1rem 0; /* Add margin for spacing */
    font-size: 10px;
}





.team-members-title {
    font-weight: bold;
    font-size: 20px;
}

.actions-container {
    display: flex;
    gap: 16px;
    align-items: center; /* Center items vertically */
}

.add-member-button {
    color: white; 
    background: #6941c9; 
    border: none; 
    height: 2.5rem; 
    width: 10rem; 
    border-radius: 10px; 
    cursor: pointer;
}






.rounded-pill {
    border-radius: 50px;
    padding: 5px 12px;
    font-size: 0.8rem;
    display: inline-block;
    font-weight: bold;
}

.rounded-pill.fw-bold {
    font-weight: bold;
}

.rounded-pill.design {
    color: #6941C6;
    background-color: #f8f5fe;
    border: 2px solid #e6d6fa;
}

.rounded-pill.product {
    color: #175cc7;
    background-color: #eff8ff;
    border: 2px solid #b1ddff;
}

.rounded-pill.marketing {
    color: #3537c9;
    background-color: #edf3ff;
    border: 2px solid #c6d7f8;
}

.rounded-pill.plus {
    color: black;
    background-color: #f9fafc;
    border: 2px solid #e6e7eb;
}




.pagination-container {
    display: flex;
    justify-content: space-around; /* Space out the buttons */
    align-items: center; /* Center vertically */
}

.pagination-prev {
    margin: 0 100px; 
   
    
   /* Pushes Previous button to the left */
}

.pagination-next {
    margin: 0 100px; /* Pushes Next button to the right */
}

.pagination-item {
    margin: 0 5px; /* Adjust as needed */
}












